In [1]:
from pylab import *
import pandas as pd

In [3]:
df = pd.read_csv('Linear Regression - Sheet1.csv')

In [4]:
df.head()

   X         Y
0  1  3.888889
1  2  4.555556
2  3  5.222222
3  4  5.888889
4  5  6.555556

In [5]:
df.shape

(300, 2)

In [7]:
df.isnull().sum()

X    0
Y    0
dtype: int64

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.shape             #no duplicates

(300, 2)

# Model Development

In [10]:
from sklearn.model_selection import train_test_split

In [22]:
X = df[['X']]
Y = df['Y']

In [23]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=101)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
lm = LinearRegression()

In [26]:
X_train

       X
34    35
1      2
133  134
283  284
279  280
..   ...
40    41
75    76
87    88
63    64
11    12

[210 rows x 1 columns]

In [28]:
X_test

       X
176  177
250  251
12    13
16    17
258  259
..   ...
282  283
242  243
119  120
57    58
37    38

[90 rows x 1 columns]

In [29]:
Y_train

34      26.555556
1        4.555556
133     92.555556
283    192.555556
279    189.888889
          ...
40      30.555556
75      53.888889
87      61.888889
63      45.888889
11      11.222222
Name: Y, Length: 210, dtype: float64

In [30]:
Y_test

176    121.222222
250    170.555556
12      11.888889
16      14.555556
258    175.888889
          ...
282    191.888889
242    165.222222
119     83.222222
57      41.888889
37      28.555556
Name: Y, Length: 90, dtype: float64

In [31]:
lm.fit(X_train,Y_train)

LinearRegression()

In [32]:
pred = lm.predict(X_test)

In [33]:
print(pred)

[118.17958878 164.58806411  15.3283732   17.83693943 169.60519658
 184.02945242 149.53666671 185.9108771   99.99248359 150.79094982
 155.18094073  84.94108618 146.40095891 177.13089528  56.71971605
  63.6182732   10.31124073  97.48391735  19.71836411 170.23233813
 133.23098619  33.51547839 138.24811865  17.20979787 103.75533294
 186.53801865 113.78959787 173.99518748  15.95551475 140.75668489
 178.38517839  64.87255631 104.3824745  138.87526021 172.74090437
 101.87390826 139.50240177 190.300868    27.87120437  32.26119527
  88.07679398 152.6723745   69.26254722  61.10970696 106.26389917
  42.92260177 131.97670307 180.89374463  51.70258359 192.18229268
  48.56687579  81.17823683  54.21114982 189.67372645  37.9054693
 175.2494706  115.04388099 118.80673034  58.60114073 168.97805502
 126.33242904 129.46813683 106.89104073  13.44694852  28.49834592
 125.07814593  51.07544203 115.67102255 119.4338719   64.24541476
 107.51818229 176.50375372 114.41673943  19.09122255 145.1466758
 165.21520567  18.46408099  81.80537839 112.53531476  53.58400826
  42.29546021 150.16380826 122.56957969  27.24406281 121.31529657
 184.65659398 159.57093164  82.43251995  43.54974333  31.00691216]

In [38]:
m = lm.coef_

In [39]:
c = lm.intercept_

In [43]:
y = m*X+c

In [44]:
round(y,0)

         X
0      8.0
1      8.0
2      9.0
3     10.0
4     10.0
..     ...
295  193.0
296  193.0
297  194.0
298  195.0
299  195.0

[300 rows x 1 columns]

In [48]:
from sklearn.metrics import classification_report

In [49]:
Y_test

176    121.222222
250    170.555556
12      11.888889
16      14.555556
258    175.888889
          ...
282    191.888889
242    165.222222
119     83.222222
57      41.888889
37      28.555556
Name: Y, Length: 90, dtype: float64

In [50]:
pred

array([118.17958878, 164.58806411,  15.3283732 ,  17.83693943,
       169.60519658, 184.02945242, 149.53666671, 185.9108771 ,
        99.99248359, 150.79094982, 155.18094073,  84.94108618,
       146.40095891, 177.13089528,  56.71971605,  63.6182732 ,
        10.31124073,  97.48391735,  19.71836411, 170.23233813,
       133.23098619,  33.51547839, 138.24811865,  17.20979787,
       103.75533294, 186.53801865, 113.78959787, 173.99518748,
        15.95551475, 140.75668489, 178.38517839,  64.87255631,
       104.3824745 , 138.87526021, 172.74090437, 101.87390826,
       139.50240177, 190.300868  ,  27.87120437,  32.26119527,
        88.07679398, 152.6723745 ,  69.26254722,  61.10970696,
       106.26389917,  42.92260177, 131.97670307, 180.89374463,
        51.70258359, 192.18229268,  48.56687579,  81.17823683,
        54.21114982, 189.67372645,  37.9054693 , 175.2494706 ,
       115.04388099, 118.80673034,  58.60114073, 168.97805502,
       126.33242904, 129.46813683, 106.89104073,  13.44694852,
        28.49834592, 125.07814593,  51.07544203, 115.67102255,
       119.4338719 ,  64.24541476, 107.51818229, 176.50375372,
       114.41673943,  19.09122255, 145.1466758 , 165.21520567,
        18.46408099,  81.80537839, 112.53531476,  53.58400826,
        42.29546021, 150.16380826, 122.56957969,  27.24406281,
       121.31529657, 184.65659398, 159.57093164,  82.43251995,
        43.54974333,  31.00691216])

In [51]:
Y_test

176    121.222222
250    170.555556
12      11.888889
16      14.555556
258    175.888889
          ...
282    191.888889
242    165.222222
119     83.222222
57      41.888889
37      28.555556
Name: Y, Length: 90, dtype: float64

In [52]:
from sklearn import metrics

In [53]:
metrics.mean_squared_error(Y_test,pred)

17.107673684428857