<a href="https://colab.research.google.com/github/akhila-haritha/Data-Analytics-with-Python/blob/main/Linear_Regression_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [1]:
from pylab import *
import pandas as pd

# Loading Dataset

In [2]:
df = pd.read_csv('test (1).csv')

In [3]:
df.head()

    x          y
0  77  79.775152
1  21  23.177279
2  22  25.609262
3  20  17.857388
4  36  41.849864

In [4]:
df.shape

(300, 2)

# Data pre-processing

In [5]:
df.isnull().sum() / df.shape[0]     *100       #no null values

x    0.0
y    0.0
dtype: float64

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.shape                        #no duplicates in the dataset

(300, 2)

# Splitting Dataset

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X = df[['x']]
Y = df['y']

In [12]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=101)

# Model Development

In [11]:
from sklearn.linear_model import LinearRegression

In [13]:
l = LinearRegression()

In [14]:
l.fit(X_train,Y_train)

LinearRegression()

In [15]:
c = l.intercept_
m = l.coef_

In [16]:
#equation is y=m*x+c

pred = l.predict(X_test)

# Calculating Model Accuracy

In [23]:
from sklearn.metrics import classification_report
from sklearn import metrics

In [28]:
print("MSE: ",metrics.mean_squared_error(Y_test,pred))

MSE:  10.710621263489669